**/node_modules
**/.venv/
**/__pycache__/
**/dist
**/build
**/coverage
**/logs
**/tmp
**/.env
**/.DS_Store
**/Thumbs.db
**/yarn-error.log
**/package-lock.json
**/pnpm-lock.yaml
**/tsconfig.tsbuildinfo
**/.eslintcache
**/.prettiercache
**/.vscode
**/.idea
**/.cache
**/.next
**/.nuxt
**/.vuepress
**/.serverless
**/.webpack
**/.parcel-cache

# Ignore all files in the public directory except for index.html
/public/*
!/public/index.html